<h1>Add Song Form</h1>
<form method="POST" action="/addSong">
    <div>
        <label>Sond Name</label>
        <input name='SOName'>
    </div>
    <br>
    <div>
        <label>Singer Name</label>
        <input name='SIName'>
    </div>
    <br>
    <div>
        <label>Album Name</label>
        <input name='ABName'>
    </div>
    <br>
    <button type="submit">Add Song</button>
</form>