<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Articles App</title>
    <link rel="stylesheet" href="css/main.css" />
  </head>
  <body>
    <nav>
      <a href="/authors">Authors</a>
      <a href="/author/create">Create Author</a>

      <a href="/">Articles</a>
      <a href="/create">Create Article</a>
    </nav>
    <%- body %>
  </body>
</html>
