<a href="/">Go Back</a>

<form method="POST" action="/create">

  <div>

    <label>Title</label>
    <input type="text" name="title" />

  </div>

  <div>

    <label>Content</label>
    <input name="content">

  </div>

    <div>
        <label>Author</label>
        <input type="text" name="author">
    </div>
    
    <div>

      <label> Author: </label>
  
      <select name="author">
  
        <% authors.forEach(function(author) { %>
  
          <option value="<%= author._id %>"> <%= author.name %> </option>
  
  
  
        <% }) %>
  
        </select>
  
    </div>

  <button type="submit">Create Article</button>

</form>