<!-- we do this page to avoid duplication on several pages -->
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="css/style.css">
    <title>The Favorite Songs</title>
</head>
<body>
    <header>
        <nav class="navigation">
            <a href="/">Home</a>
            <a href="/addSong">Add Song</a>
        </nav>
    </header>
    <%- body %>
</body>
</html>
<!-- بسبب عمل هذه الصفحة: لجعل صفحة واحدة فقط  HTML -->