<a href="/authors">Go Back</a>

<form method="POST" action="/author/create">

<div>
    <label>Name: </label>
    <input name="name" />
</div>

<div>
    <label>Email Address: </label>
    <input name="emailAddress" />
</div>

<div>
    <label> Phone Number: </label>
    <input name = "phoneNumber" />
</div>

<button type="submit">Create Author</button>

</form>